* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    color: white;

}

.logo {
    background-image: url('./img/gili.svg');
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.pop {
    position: absolute;
    background: rgba(68, 68, 68, 0.80);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    opacity: 0;
    visibility: hidden;

}

.won {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(68, 68, 68, 1);

}

.info {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    background: rgba(68, 68, 68, 1);

}

h3 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;

}

.grid {
    display: grid;
    grid-template: "1fr 1fr 1fr 1fr";
    grid-gap: 0.5rem;
    width: 50%;
    margin: auto;


}

button {
    justify-self: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-image: url(./img/gili.svg);
    background-size: cover;

}


form {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
}

input,
select {
    width: 50%;
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    text-align-last: center;

}



@media (max-width:1024px) {
    .grid {
        grid-gap: 0.5rem;
        width: 90%;
        margin: 0 auto;
    }

    button {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    form {
        width: 90%;
    }

    .info {
        height: 30%;
    }


}